* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    list-style: none;
}

header {
    max-width: 1730px;
    margin: auto;
    display: flex;
    padding: 40px 120px;
    justify-content: space-between;

    & nav, nav ul {
        display: flex;
        gap: 51px;
        
    }

}